// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "../vendor/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";


.list-group {
    width: auto;
    max-width: 150px;
    // margin: 4rem auto;
}

.list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;

    &:active {
        background-color: #0D6EFD;
    }
}

.list-group-checkable .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
    text-align: center;

    // &:hover {
    //     background-color: #F8F9FA;
    // }
}


.list-group-checkable {
    display: grid;
    // gap: .5rem;
    border: 0;
}

.list-group-header {
    text-align: center;
    font-weight: 1200;
    margin-bottom: 0.5rem;
}

.bd {
    border: 2px solid black;
}